In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

In [4]:
# file = open('test.csv','r')
df = pd.read_csv('test.csv')

In [7]:
df.head()

  faceUp playerVal  winner
0      7         8  dealer
1      5        A5  player
2      J        20  player
3      2        A2  dealer
4      8        13    draw

In [8]:
df.tail()

      faceUp playerVal  winner
99995      J        A8  player
99996      3        16  dealer
99997      A        13  dealer
99998      K        16  dealer
99999      7        11  dealer

In [15]:
dic = {'player':0,'dealer':1,'draw':2}
df.winner = df['winner'].map(dic)

In [16]:
df.winner

0        1
1        0
2        0
3        1
4        2
        ..
99995    0
99996    1
99997    1
99998    1
99999    1
Name: winner, Length: 100000, dtype: int64

In [17]:
df.head()

  faceUp playerVal  winner
0      7         8       1
1      5        A5       0
2      J        20       0
3      2        A2       1
4      8        13       2